<div class="div_margin1">
  <h2>App para números</h2>

  <div>
    <div *ngIf="arrayNumeros.length > 0; else arrayVacio">

      <label for="cars">Opciones:</label> 

      <select #opcionesSelect (change)="valorSelect(opcionesSelect.value)">
        <option value="">Seleccione una opción</option>
        <option *ngFor="let opcion of listaOpciones" value="{{opcion.id}}">{{opcion.texto}}</option>
      </select>
      <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Numero</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let numero of arrayNumeros; index as indexOfElement ">
            <th scope="row">{{ indexOfElement + 1 }}</th>
            <td>{{ numero.descripcion }}</td>
            <td>{{ numero.accion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #arrayVacio>
      <h3>No se encuentran numeros en el array de numeros</h3>
    </ng-template>
  </div>

  <hr>
  
  <div class="div_margin2">
    <h3>Agregar numero</h3>
    <div>
      <input id="inputNumber" type="number" [value]="numeroNuevo" min="1" placeholder="Ingresar un numero" (keypress)="controlInput($event)" (input)="controlValorinput($event)">
    </div>
    <br>
    <button type="button" (click)="agregarNumeroArray()" [disabled]="controlButton">Agregar numero</button>
  </div>

</div>